<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" id="inputText">
    <button onclick="enviar()">Enviar</button>

    <h2>Resposta do Servidor</h2>
    <p id="response"></p>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js">

    </script>
    <script>
        //conecção com socket do backend
        var socket = io("http://localhost:8080")




        function enviar() {
            var input = document.getElementById("inputText");
            socket.emit("input", input.value)
            input.value = " "
        }

        socket.on("serverResponse", (data) => {
            const paragraph = document.getElementById("response")
            paragraph.innerHTML = data
        })

        socket.on("desconnect", () => {
            console.log("Conexão encerrada")
        })

    </script>

</body>

</html>